 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/Gemini_Generated_Image_wg9j3uwg9j3uwg9j.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 564px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#9bb8db, #4d4d4d);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 445px auto 0 252px;
  padding: 12px 34px 13px 33px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: linear-gradient(#9bb8db, #4d4d4d);
  margin: -60px 253px 0 auto;
  padding: 13px 19px 13px 18px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: linear-gradient(#9bb8db, #4d4d4d);
  margin: -58px auto 60px;
  padding: 13px 36px 13px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 52px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 520px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -138px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 388px;
    margin-left: auto;
    padding-right: 31px;
    padding-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 111px;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 14px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -145px;
    padding-right: 31px;
    padding-left: 31px;
  }
}