 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/Gemini_Generated_Image_wg9j3uwg9j3uwg9j.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 561px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: linear-gradient(#9bb8db, #4d4d4d);
  margin: 441px 269px 0 auto;
  padding: 12px 22px 14px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: linear-gradient(#9bb8db, #4d4d4d);
  margin: -59px auto 0;
  padding: 12px 22px 14px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(#9bb8db, #4d4d4d);
  font-size: 1.5rem;
  font-weight: 700;
  margin: -59px auto 60px 284px;
  padding: 12px 29px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 69px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 519px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -138px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }
}